* {
    margin: 0;
    padding: 0;
    font-family: roboto, serif;
    box-sizing: border-box;
} 

html {
    font-size: 16px;
}

.section-title {
    text-transform: uppercase;
    font-size: 2.5rem;
    color: rgb(170, 193, 212);
    margin-bottom: 1rem;
}

.parrafo-introduccion {
    font-size: 1.7rem;
    color: rgb(170, 193, 212);
    margin-bottom: 1rem;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color:rgb(60, 91, 231);
}

::-webkit-scrollbar-thumb {
    background-color:rgb(95, 207, 207);
}

html {
    scroll-behavior: smooth;
}

#secciones {
    width: 90%;
    margin-left: 10%;
}

.section {
    width: 100%;
    padding: 2rem 2rem;
}

.portada {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: black;
}

.lamina-principal {
  color: whitesmoke;
  background-color: rgba(10, 4, 46, 0.7);
  text-align: center;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; 
}



.main-button {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 1.5vw;
    padding: 1.2vw;
    margin-top: 2rem;
    border: 2px solid rgb(93, 224, 17);
    background-color: rgba(93, 224, 17, 0.1);
    color: rgb(93, 224, 17);
    transition-property: box-shadow text-shadow;
    transition-duration: 0.3s;
    cursor: pointer;
    
}

.main-button:hover {
   text-shadow: 0 0 10px rgb(93, 224, 17);
   box-shadow: 0 0 10px rgb(93, 224, 17), 0 0 10px rgb(93, 224, 17) inset;
}

.main-button:focus {
    outline: none;
}

.texto-principal {
    animation-name: aparecer;
    animation-duration: 1.5s;
}

.texto-principal h1{
    font-size: 3vw;
    padding: 1vh;
    border-radius: 10px;
    text-transform: uppercase;
}

.texto-principal h2 {
    margin-top: 1rem;
    font-size: 3vw;
}

@media (max-width: 900px) {

    html {
        font-size: 12px;
    }

   .section-title {
       font-size: 2rem;
   }

   .parrafo-introduccion {
       font-size: 1.2rem;
   }

    .texto-principal h1{
        font-size: 4vh;
        padding: 1vh;
        border-radius: 10px;
        text-transform: uppercase;
    }
    
    .texto-principal h2 {
        margin-top: 1rem;
        font-size: 3vh;
    }

    .main-button {
        font-size: 1.4rem;
        padding: 1rem;
    }

}



@keyframes moverDiagonal {
  from {
    top: 0;
    left: 0;
  }
  to {
    top: -200px;
    left: 200px;
  }
}

@keyframes aparecer {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* NAVEGACIÓN ----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------*/

.navegacion {
    display: flex;
    background-color :rgb(12, 4, 49);
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    z-index: 1000;
    width: 10%;
    height: 100vh;
}

.navegacion.active {
    margin-left: 0;
}

.boton-navegacion {
    position: relative;
    background-color :rgb(12, 4, 49);
    padding: 2vw;
    border-bottom: 2px groove rgb(21, 7, 85);
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.boton-navegacion_icono {
    font-size: 1.5vw;
    width: 100%;
    color: rgb(60, 91, 231);
    transition-property: color;
    transition-duration: 0.3s;
}

.boton-navegacion_descripcion {
    font-size: 1.5vw;
    width: 100%;
    color: rgb(60, 91, 231);
    margin-top: 10px;
    transition-property: color;
    transition-duration: 0.3s;
}


.boton-navegacion:hover {
    background-color:rgb(19, 6, 75);
}

.boton-menu {
    text-align: center;
    font-size: 3rem;
    color: white;
    text-decoration: none;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 2;
    display: none;
    cursor: pointer;
    padding: 0.5rem;
}

.boton-cerrar {
    margin-left: auto;
    color: rgb(60, 91, 231);
    font-size: 2rem;
    padding: 1rem;
    transition: color 0.3s;
    display: none; 
    cursor: pointer;  
}

.boton-cerrar:hover {
    color:aqua;
    
}


@media (max-width: 900px) {

    .navegacion {
        width: 60%;
        margin-left: -60%;
        transition: margin-left 0.3s;
    }

    .boton-navegacion_icono {
       font-size: 1.5rem;
    }
    
    .boton-navegacion_descripcion {
      font-size: 1.5rem;
    }

    .boton-menu {
        display: block;
    }

    .boton-cerrar, .boton-menu{
        display: block;
    }
  
    #secciones {
        width: 100%;
        margin-left: 0;
    }

}


/*----------------------------------------Proyectos-------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/


#proyectos {
    background-color: rgb(7, 3, 29);
}

#proyectos div {
    display: grid;
    grid-gap: 0;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    
}

.project {
    position: relative;
}

.project__lamina {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, rgba(7, 46, 117, 0.9), rgba(7, 46, 117, 0.6));
    transition: width 0.2s;
}

.project:hover .project__lamina {
    width: 0%;
}

.project:hover .project__description {
    opacity: 1;
}


.project__description {
    font-size: 1vw;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    background-color: rgba(5, 2, 24, 0.6);
    transition: opacity 0.4s;
}

.project__description a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 1vw;
    
}

@media (max-width: 1024px) {
    .project__lamina {
        z-index: -2;
    }

    .project__description {
        opacity: 1;
    }
}

.project__image {
    vertical-align: middle;
    max-width: 100%;
    object-fit: cover;
}

@media (max-width: 1200px) {

    #proyectos div {
        grid-template-columns: auto auto;
    }

    .project__description {
        font-size: 1rem;
    }

}

@media (max-width: 800px) {

    #proyectos div {
        grid-template-columns: auto;
        grid-gap: 15px;
    } 

    .project__description {
        font-size: 12px;
    }

}

/* About -------------------------------------------------- */


.sobre-mi {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 60% 40%;
    background-color: rgb(7, 3, 29);
    color:rgb(196, 207, 218);
}

.sobre-mi .section-title {
    grid-column: 1 / 3;
   
}

.tarjeta {
    position: relative;
    padding: 1vw;
}

.tarjeta__imagen {
    max-width: 100%;
    vertical-align: middle;
    box-shadow: 10px 10px 5px yellowgreen, -10px -10px 5px crimson;
}

.tarjeta__descripcion {
    bottom: 0;
    font-size: 1.8vw;
    padding: 1vw 0 0 0;
    color: white;
    text-align: center;
}

.descripcion-personal {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: rgb(170, 193, 212);
}

.descripcion-personal__titulo {
    font-size: 2vw;
    text-align: center;
}

.descripcion-personal__parrafo {
    font-size: 1.5vw;
    margin-top: 1rem;
}

.descripcion-personal__boton {
   margin-left: auto;
}

@media (max-width: 1200px) {
    .sobre-mi {
        grid-template-columns: 50% 50%;
    }

    .descripcion-personal__titulo {
        font-size: 1.5rem;
    }
    
    .descripcion-personal__parrafo {
        font-size: 1.2rem;
        
    }
}

@media (max-width: 900px) {


    .sobre-mi {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    .sobre-mi .section-title {
        grid-row: 1 / 2;
    }

    .descripcion-personal {
        grid-row: 2 / 3;
    }

    .tarjeta {
        grid-row: 3 / 4;
    }

}

/* Formulario------------------------------------------*/

#contacto {
    display: flex;
    flex-direction: column;
    background-color: rgb(7, 3, 29);
    color: rgb(170, 193, 212)
}

.form {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between;
    margin-top: 2vw;
    margin-left: auto;
    margin-right: auto;
}

.form-title {
    font-size: 2vw;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 48%;
    margin-top: 3vw;
}

.form-group:nth-child(6) {
    width: 100%;
}

.form-group:nth-child(6) textarea {
    height: 15vh;
    resize: vertical;
    overflow: auto;
}

.form-label {
    font-size: 1.4vw;
    margin-bottom: 1vw;
}

.form-input {
    font-size: 1.2vw;
    padding: 1vw;
    border: 2px solid rgb(22, 11, 117);
    background-color:rgb(22, 11, 117);
    color: whitesmoke; 
    outline: none; 
}

.form-group:last-child {
    width: 30%;
    margin-left: auto;
}

.form-input:focus {
    border: 2px solid whitesmoke;
}

::placeholder {
    color:rgb(91, 112, 235)
}

footer {
    background-color: rgb(12, 4, 49);
    color: rgb(60, 91, 231);
    padding: 1rem 0;
}

.footer-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin: auto;
}

.social-icons a {
    text-decoration: none;
    color:rgb(60, 91, 231);
    font-size: 3rem;
    transition: color 0.3s; 
}

.social-icons a:hover {
    color: aqua;
}

@media (max-width: 900px) {

    .form-title {
        font-size: 2rem;
    }

    .form {
        width: 100%;
    }

    .form-group {
        width: 100%;
        margin: 1rem 0;
    }

    .form-label {
        font-size: 1.5rem;
    }

    .form-input {
        font-size: 1.2rem;
    }

    .form-group:last-child {
        width: 100%;
        margin-left: auto;
    }

    .social-icons  {
        width: 100%;
        justify-content: space-around;
    }
}



